.profiles-body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #37454e;
}

.profile-container {
	width: 400px;
	padding: 20px;
	color: black;
	margin: 2em auto;
	overflow: hidden;
	background: white;
  box-shadow: 0 0 20px 0px rgb(47, 47, 47),
							0 0 20px 0px rgba(107, 104, 104, 0);

}

.card-pic {
	width: 10em;
	border: 2px solid #B5B4AB;
}

.profile-container {
	border-radius: 5%;
	border: 2px solid #B5B4AB;
}

.profile-container .title-card {
	font-size: 40px;
	font-weight: 100;
	margin: 10px 0 0 0;
	font-family: 'Raleway', sans-serif;
}

.page-info {
	line-height: .75em;
	letter-spacing: 0.3px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.8rem;
	letter-spacing: 0.01rem;
	color: #666;
}

.page-bullets {
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile-container .rate .fa{color: gold; letter-spacing:1px; font-size:18px;}

.profile-container .rate p{
	color: #fff;
	font-weight: 100;
	font-size: 17px;
	display: inline;
}

.profile-container span {
	width: 100%;
	color: #FFFFFF;
	display: inline-block;
}



.profile-container span p{
	color: #FFFFFF;
	margin-left: 10px;
	}

.profile-container span p, i{
	font-size:16px;
	font-weight: 100;
	display: inline-block;
}

.profile-btn {
	font-weight: bold;
	color: #666;
	padding:5px;
	border: 1px solid #666;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.3s linear;
	font-family: 'Open Sans', sans-serif;
	opacity: 1;
	background-color: white;
	border-radius: 5px;
}

.button1, .button2, .button3 {
	display: inline-block;
	text-align: center;
}
