@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


.dash-body, .index-body {
    background-color: #37454e;
  }

.nav1, .nav2, .nav3, .nav4 {
  display: inline-block;
}

.nav2, .nav4 {
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav1, .nav2 {
  padding-right: 10em;
  padding-bottom: 1em;
}


.links {
  font-size: 18px;
  padding: 5px;
  font-weight: 300;
  margin-right: 20px;
  float: right;
}

.pull-left {
  text-align: center;
  padding-top: 25px;
  word-spacing: 10px;
  color: #77777F;

}
.myCarousel {
  height: 300px;
}

.navigation {
 margin: 0;
 padding: 0;
 display: inline-block;
 float: right;
 margin-right: 5%;
}

.slider-image {
  filter: gray;
  -webkit-filter: grayscale(1);
  position: absolute;
  z-index: 0;
  width: 100%;
}

.image-text {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.image-header, .image-p {
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
}

.image-header {
  font-size: 60px;
}


.save-button {
  width: 100%;
  justify-content: center;
  background-color: #37454e;
  border: #37454e;
  color: white;
}

.first-buttons {
  justify-content: center;
}
.image-p {
  font-size: 30px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}


.services {
  background-color: #37454E;
  border-top: outset 8px #2c373e;
  border-bottom: inset 8px #2c373e;
  padding-top: 45px;
}

.services, .latest-projects {
    text-align: center;
}

.glyphicon-heart, .glyphicon-star, .glyphicon-glass {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 18px;
  border: 5px solid white;
  border-radius: 100%;

}

.homeH2, .first-text {
  color: white;
}

.first-text {
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
}

.homeH2 {
  font-family: 'Satisfy', cursive;
  font-size: 4em;
}

.h2-projects {
  color: black;
  font-size: 25px;
  line-height: 10px;
  padding-top: 40px;
  font-weight: bold;
}

.h3-projects {
  color: #AAAAAA;
}

.h3-projects, p {
  font-size: 14px;
}

.container-heading {
  text-align: left;
}

.project {
  height: 140px;
}

.blog-images {
  width: 210px;
}


.footer-titles {
  padding-top: 20px;
  color: white;
}



#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 100px;
  padding-left: 15px;
  padding-top: 30px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 15px;
  width: 100%;
  border-radius: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
}

#form button {
  background: #ABC2C9;
  border: 1px solid #9CB1B7;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  /*margin-left: 280px;*/
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
  border-radius: 40px;
}

.container {
  width: 460px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 10px;
}

.login-heading, .signup-heading {
  text-align: center;
  font-size: 60px;
}

.header-text {
  font-family: 'Satisfy', cursive;
  color: white;
}

.login-heading, .signup-heading {
  font-family: 'Satisfy', cursive;
  color: #666;
}

.header-text {
  font-size: 50px;
  padding-left: 50px;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.success-message {
  background: #009245;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}


#connect-form, #edit-form {
  margin: 30px ;
  font-family: 'PT Sans Narrow', sans-serif;
}

#connect-form label, textarea, #edit-form label {
  color: #666;
  /*display: inline-block;*/
  margin-bottom: 10px;
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  font-size: 1.2em;
  border-radius: 10px;
}

#connect-form input,
#connect-form button, #edit-form input,
#edit-form button {
  box-sizing: border-box;
  font-size: 20px;
  outline: 0;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

#connect-form button, #edit-form button {
  background: #37454e;;
  border: 1px solid #9CB1B7;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 20%;
  border-radius: 10px;
  margin-top: 30px;
}

#connect-form button:hover, #edit-form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
  border-radius: 100px;
}

.new-connection, .edit-connection {
  margin-top: 4em;
  box-shadow: 0 0 20px 0px rgb(47, 47, 47),
							0 0 20px 0px rgba(107, 104, 104, 0);
}

.new-connection, .edit-connection {
  padding: 3em;
  background-color: white;
  border-radius: 10px;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 60px;
}

/*.edit-connection {
   text-align: center;
}*/

.welcome-title, {
  font-family: 'Helvetica, Arial', sans-serif;
  font-size: 60px;
}

.dashboard-title, .edit-title {
  text-align: center;
  font-family: 'Satisfy', cursive;
  color: #666;
  font-size: 40px;
}

.welcome {
  float: left;
  width: 300px;
  background-color: white;
  /*padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;*/
  background-color: white;
  border-radius: 10px;
  /*margin-left: 40px;
  margin-bottom: 60px;*/
}

.user-icon {
  width: 75px;
}

.welcome-title, .user-icon {
  display: flex;
  justify-content: center;
}

#presentation, #dash {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

#presentation2 {
  padding-right: 1em;
  list-style: none;
}

#presentation button:hover, #presentation2 button:hover {
  color: #666;
}



a {
  color: white;
}

a:hover {
  color: #B5B4AB;
  text-decoration: none;
}

#dash {
  padding-top: 30px;
  font-weight: bold;
  line-height: 20px;
}



.btn-group a, #btnGroupDrop1 {
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.25em;
  margin-left: 10em;
  margin-bottom: 0.75em;
}

.btn-secondary button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
  border-radius: 40px;
}

.about-body {
  background-color: #37454e;
}

.about-page {
  background-color: white;
  width: 70%;
  padding: 2em 4em 2em 4em;
  margin-top: 4em;
  margin-bottom: 5em;
  margin-left: 15%;
  border-radius: 2%;
}

.about-howto {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
}

.about-header {
  font-size: 4em;
  font-family: 'Satisfy', cursive;
}


.about-text {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 1.5em;
}

#linkedin  {
  color: #666;
}

#linkedin:hover {
  color: black;
}
