<body class="about-body">
<div class="about-page">
<h2 class="about-header"> Welcome to Brito's List! </h2>

<h3 class="about-howto"> <b> How to use:</b> </h3>
<p class="about-text"> Network is a vital part of any business. In order to find success, you need to go out, meet
  people and make yourself known. If all goes well, you'll be collecting a lot of business cards
  and contact information. Brito's List is your organization tool. </p>

<p class="about-text"> Once you exchange information with someone new, log in to your Brito's List account
  and fill out the <b> "Add a New Connection" </b> form. Include as much information as possible.
  If you can, include a picture so you can remember exactly who they are and make notes
  about anything that can help your future self: where you met, how the exchange went, and
  and other follow-up steps that need to be taken. Brito's List then organizes this information
  into profile cards to make it easy to access contact info when needed. </p>

<p class="about-text"> <b> Looking to reach out to someone? </b> Log in to Brito's List and see your list of connections.
You can search for your contact or filter your Connections table by name, company, or position.
Looking to send out an email newsletter or need a contact list? By clicking "Full List" on
your Connection's table, you can download a .csv file with all of the information you need. </p>

<p class="about-text"> <b> Want to share your contact information in a quick and easy manner? </b> With Brito's List you can
  create your own profile card and share via email with those that you meet. It's a great way
  to begin contact with someone and make sure they have your information readily available.
  Just log in, go to "Your Card" and click the share button at the bottom. There, you can enter
  your contact's email and send them a link to your profile with a quick message. </p>

  <h3 class="about-howto"> Brito's List makes organizing your contacts and staying in touch easy. Happy Networking! </h3>
</div>
</body>
