<!-- Here's where the add connection form and welcome back goes. -->
<body class="dash-body">

<style>
body {
  background-image: url(./images/group5.jpg);
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
}
</style>
<!-- <div class="welcome">
<h3 class="welcome-title"> Welcome to <br> Brito's List! </h3>

</div> -->

<!-- Add a connection form -->

<div class="new-connection">

  <h3 class="dashboard-title"> Add a New Connection </h3>

<form id="connect-form" method="post" action="/connections" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-6">
      <label for="first-name-input"> First Name </label>
      <input  id="first-name-input" name="firstName" type="text">
      <br>

      <label for="last-name-input"> Last Name </label>
      <input  id="last-name-input" name="lastName" type="text">
      <br>

      <label for="position-input"> Position </label>
      <input  id="position-input" name="jobTitle" type="text">
      <br>

      <label for="photo-input"> Photo Upload </label>
      <input id="photo-input" name="photo" type="file">
      <br>

      <label for="email-input"> E-mail </label>
      <input  id="email-input" name="emailValue" type="email">
      <br>
    </div>

    <div class="col-md-6">
      <label for="company-input"> Company </label>
      <input  id="compny-input" name="company" type="text">
      <br>

      <label for="number-input"> Phone Number </label>
      <input  id="number-input" name="phoneNumber" type="number">
      <br>

      <label for="social-link-input"> LinkedIn Page </label>
      <input  id="social-link-input" name="socialLink" type="text">
      <br>

      <label for="origin-input"> Where You Met </label>
      <input  id="origin-input" name="originOfConnection" type="text">
      <br>

      <label   for="description-input"> Description </label>
      <textarea id="description-input" name="connectDescription"></textarea>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="save-button"> Save </button>
    </div>
  </div>
</div>
</form>
</body>
